.Content {
    margin-left: 70px;
    padding-right: 30px;
    width: calc(100% - 70px);
    box-sizing: border-box;
    min-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.Code {
    display: inline-block;
    user-select: none;
    color: #abb2bf;
}

.Text {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-text-fill-color: transparent;
    user-select: text;
    cursor: text;
}

.Code,
.Text {
    font: var(--font-code);
    white-space: pre;
    word-break: keep-all;
}

.CodeDisabled {
    opacity: .7;
}

.TextDisabled {
    cursor: wait;
}
