.Lines {
    width: 70px;
    float: left;
    box-sizing: border-box;
    padding: 0 19px 0 5px;
    cursor: default;
    user-select: none;
    overflow: hidden;
    text-align: right;
    font: var(--font-code);
    color: #636d83;
}

.Lines div {
    height: 23px;
}

.Lines div.Active {
    color: #abb2bf;
}
