html,
body {
    overflow: hidden;
    overscroll-behavior: none;
    user-select: none;
}

.Root {
    height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
    --font-ui: 400 14px / 24px system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --font-code: 400 18px / 23px Inconsolata, monospace;
}
